# Object file
*.o

# Ada Library Information
*.ali

*.bin

*.exe

*.xml

b__main.adb
b__main.ads
display_letters-loc.xml
gpsauto.cgpr
main
main.adb.stderr
main.adb.stdout
main.bexch
main.bin
main.exe
map.txt
#DisplayLetters/src/main.adb

Stage_One/obj
Stage_One/obj/*
obj/stage_one-loc.xml
*/obj
tasking_project_sense_think_act/obj/tasking_project_sense_think_act-loc.xml
