# Object file
*.o

# Ada Library Information
*.ali

*.bin

*.exe

DisplayLetters/obj/b__main.adb
DisplayLetters/obj/b__main.ads
DisplayLetters/obj/display_letters-loc.xml
DisplayLetters/obj/gpsauto.cgpr
DisplayLetters/obj/main
DisplayLetters/obj/main.adb.stderr
DisplayLetters/obj/main.adb.stdout
DisplayLetters/obj/main.bexch
DisplayLetters/obj/main.bin
DisplayLetters/obj/main.exe
DisplayLetters/obj/map.txt
#DisplayLetters/src/main.adb
